

body{
    background-color: rgb(255,255,255);
    
}

/* Header */
*{
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: grey;
    height: 480px;
    position: relative;
    width: 100%;
    padding: 0 25px 0 25px;
}

/* Nav Styling */

nav{
    margin: auto;
    position: relative;
    width: 1100px;
}
nav>ul{
    text-align: center;
    padding: 10px;
    margin: 0;
}
nav>ul>li{
    display: inline-block;
    float: none;
}
nav>ul>li>a{
color: rgb(0,0,0);
align-items: center;
padding: 30px;
display: block;
}
nav>ul>li>a:hover{
    color: blueviolet;
}
/*circles*/

.eclipse{    
    border: 1px;
    border-radius: 0 0 170% 180%;
    height: 960px;
    width: 960px;
    left: 550px;
    top: -700px;
    background-color: #649549;
    opacity: 0.5;
    position: relative;
}
.crescent{
    height: 500px;
    width: 450px;
    left: 750px;
    top: -950px;
    border-top: 3px dashed green;
    border-radius: 70%;
    position: relative;
    opacity: 0.5;
}
.img1{
    bottom: -60px;
    left: -30px;
    position: relative;
}
.img2{
    position: relative;
    top: -120px;
    left:100px;
}
.img2-1{
    top: -50px;
    left: 150px;
    position: relative;
}
.img3{
    position: relative;
    top: -375px;
    left: 250px;
}
.img5-1{
    top: -375px;
    left: 350px;
    position: relative;
}
.header-text{
    position: relative;
    top: -1600px;
    text-align: center;
    height: 25em;
    width: 25em;    
    margin-top: 10em; 
    margin-left: 5em;
}
.header-text>h1{
    padding-bottom: 30px;
    color: green;
}

.header-text>h1>span{
    color: #eaab1b;
}
.header-text>h2{
    padding-bottom: 20px;
}
.header-text>p{
    padding-bottom: 40px;
}
.submit{
background-color: #6CB840;
color: white;
font-size: 15px;
padding: 14px;
border-radius: 26px;
text-align: center;
}
.submit:hover{
    background-color: rgb(129, 129, 46);
    color: blue;
}

/* styling the eat together section,image and text*/
.eat-together{
    display: flex;
    flex-direction: row;
    max-width: 90%;
    padding-top: 5%;
    padding-bottom: 3%;
    justify-content: center;
}
.eat-together>img{
    width: 50%;
}
.eat-text{
    text-align: center;
    margin-top: 100px;
    font-family: 'Poppins';
}
.eat-text>h2{
    padding-bottom: 15px;    
    color: #eaab1b;
}

/* explore menu*/

.explore{
    width: 1350px;
}

.burger{
    display: flex;
    align-items: center;
    border-width: 100%;
    width: 30%;
    float: left;
    background-color: rgb(202, 180, 180);
    padding: 5px;
}

/* hot deals*/
.deals{
    
    background-color:  #C9ECB5;
    width: 1400px;
    height: 600px;
    display: flex;
    
}
#hotdeals{
    text-align: center;
    

}
#hotdeals>span{
    color: green;
    font-size: large;
}
.dealburger > img{
    float: left;
    width: 600px;
    margin-top: 250px;
    margin-left:-400px;
    margin-bottom: 180px;
    
}
.dealjuice{
    margin-top: -50px;
}
.deal-info{
    text-align: center;
    margin-top: 15%;

}
.deal-info>h1{
    padding-bottom: 10%;
    color: rgb(17, 190, 17);
}
.deal-info>h3{
    padding-bottom: 10px;
}